$text-color: #4d4d4d;
$main-color: #ee6160;
$second-color: #ec8989;
@mixin bg-pic {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}

body {
	color: #4d4d4d;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	color: $text-color;
}

a:hover {
	text-decoration: none;
	color: $text-color;
}

header {
	width: 100%;
	border-bottom: 1px solid #dbdbdb;

	.logo {
		height: 85px;
		width: 100%;
		border-bottom: 1px solid #dbdbdb;
		padding-top: 20px;
		img {
			height: 45px;
			display: block;
			margin: 0 auto;
		}
	}
	.main-bar {
		display: flex;
		justify-content: space-between;
		nav {
			height: 50px;
			ul {
				list-style: none;
				line-height: 50px;
				li {
					display: inline-block;
					position: relative;
					a {
						color: $text-color;
						padding: 0 28px;
						cursor: pointer;
					}
				}
				li:hover {
					a {
						color: $main-color;
						font-weight: 500;
					}
					.hover-bar {
						width: 80%;
					}
				}
				.hover-bar {
					width: 0;
					height: 3px;
					// border-radius: 5px;
					background-color: $second-color;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					transition: 0.3s;
				}
			}
		}
		.icon {
			line-height: 50px;
			a {
				padding: 0 15px;
				img {
					height: 20px;
				}
			}
		}
	}
}

#check-list {
	display: none;
}

.swiper-container#banner {
	width: 100% !important;
	height: 450px;
	z-index: 0 !important;
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		z-index: 0 !important;
		.swiper-slide {
			z-index: 0 !important;
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 18px;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			@include bg-pic;
		}
	}
}

#prod-clas {
	width: 70%;
	display: flex;
	margin: -60px auto 0;
	padding: 60px 70px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 2px 6px 0 rgba(150, 150, 150, 0.5);
	z-index: 300 !important;
	.prod-clas {
		width: 25%;
		img {
			height: 100px;
			display: block;
			margin: 0 auto 25px;
		}
		h3 {
			font-size: 18px;
			font-weight: 500;
			text-align: center;
		}
	}
}

.main-title {
	margin-top: 60px;
	color: $main-color;
	letter-spacing: 1.14px;
	text-align: center;
	font-size: 24px;
}

#product {
	display: flex;
	.product {
		width: 25%;
		padding: 0 8px;
		.pic {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			position: relative;
			.overflow-box {
				overflow: hidden;
				.pic-box {
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					@include bg-pic;
				}
			}
			.hover-icon {
				height: 35px;
				width: 35px;
				border-radius: 50%;
				overflow: hidden;
				position: absolute;
				bottom: 17px;
				.icon-box {
					position: relative;
                    background-color: #fff;
					img {
						position: absolute;
                        width: 35px;
                        top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
                }
                .icon-box:hover {
                    background-color: #F2A09F;
                }
                .icon-box:hover img{
                    top: 35px;
                }
			}
			.cart {
				right: 60px;
			}
			.save {
				right: 12px;
			}
		}
	}
}
