* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", "Apple Casual", "Corbel", "Microsoft JhengHei",
		"sans-serif";
	box-sizing: border-box;
	color: #333;
	outline: none !important;
}

:root {
	--main-color: #FF6262;
	--second-color: #f6c165;
	--price-color: #366b8c;
	--hover-color: #7292e6;
}

a:hover{
	text-decoration: none;
}

/* .container {
	border-left: solid 1px #000;
	border-right: solid 1px #000;
} */



/* 導覽列 */
#header-outer-box {
	position: sticky;
	top: 0;
	z-index: 99999;
}

header {
	height: 60px;
	background-color: #fff;
	opacity: 0.9;
}

.header-box {
	display: inline-block;
	line-height: 60px;
}

.header-box div {
	display: inline-block;
}

#logo {
	float: left;
	margin-right: 20px;
}

#logo img {
	height: 40px;
}

ul {
	list-style: none;
}

.drop-down-menu {
	display: inline-block;
}

.drop-down-menu a {
	font-size: 15px;
}

.main-menu {
	position: relative;
	white-space: nowrap;
	float: left;
}

.second-menu {
	height: 50px;
}

.second-menu a {
	line-height: 50px;
}

.drop-down-menu a {
	background-color: #fff;
	color: #333;
	display: block;
	padding: 0 20px;
	text-decoration: none;
}

.main-menu:hover .main-title {
	background-color: rgb(243, 243, 243);
	text-decoration: none;
	color: #333;
}

.second-menu:hover > a {
	background-color: var(--main-color);
	color: #fff;
	text-decoration: none;
}

.drop-down-menu ul {
	border: #ccc 1px solid;
	position: absolute;
	z-index: 99;
	left: -1px;
	top: 100%;
	min-width: 180px;
}

.drop-down-menu ul {
	/*隱藏次選單*/
	display: none;
}

.drop-down-menu li:hover > ul {
	/* 滑鼠滑入展開次選單*/
	display: block;
}

#header-pic {
	float: right;
}

#header-pic div {
	cursor: pointer;
}

#header-pic img {
	height: 20px;
}

#line {
	height: 1px;
	background-color: rgb(224, 224, 224);
}

/* 搜尋欄 */
#search-form {
	width: 100%;
	border: 0;
	height: 50px;
	text-align: center;
	background-color: rgb(231, 231, 231);
	color: #777777;
	position: fixed;
	top: 60px;
	display: none;
}

::-webkit-input-placeholder {
	color: #777;
}
::-moz-input-placeholder {
	color: #777;
}
::-ms-input-placeholder {
	color: #777;
}

/* rwd目錄 */
#rwd-nav-title {
	width: 100%;
	height: 100vh;
	background-color: #fff;
	opacity: 0.9;
	position: fixed;
	right: -110%;
	top: 0;
	z-index: 99999;
	text-align: center;
}

#menu {
	display: none;
	cursor: pointer;
}

.rwd-title {
	padding: 10px 20px;
}

.rwd-title:hover {
	background-color: var(--main-color);
}

.rwd-title:hover a {
	color: #fff;
	text-decoration: none;
}

#rwd-nav-cross {
	height: 60px;
}

#rwd-nav-cross img {
	height: 20px;
	position: absolute;
	top: 20px;
	right: 15px;
}

.rwd-title a {
	color: #333;
}

#home {
	background-color: var(--main-color);
}

#home a {
	color: #fff;
}

/* 購物車 */
#check-list {
	height: 100vh;
	width: 500px;
	z-index: 99999;
	background-color: #fff;
	position: fixed;
	right: -550px;
	top: 0;
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.3);
}

#leave {
	text-align: right;
	font-size: 14px;
	margin-top: 20px;
	margin-right: 20px;
}

#leave img {
	height: 15px;
}

.check-product {
	height: 100px;
	margin: 0 0 0 30px;
	display: grid;
	grid-template-columns: 18% 39% 17% 17%;
	grid-gap: 3%;
	align-items: center;
}

.check-product img {
	height: 70px;
}

.product-name,
.check-price {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.product-name {
	height: 40px;
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.product-num {
	text-align: center;
	margin: 0;
}

.check-price {
	line-height: 70px;
}

#total {
	width: 100%;
	height: 100px;
	float: bottom;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ececec;
	padding: 30px;
	display: grid;
	grid-template-columns: 37% 30% 30%;
	grid-gap: 3%;
	align-items: center;
}
#total-title {
	font-size: 15px;
	font-weight: normal;
}

#total-price {
	font-size: 24px;
	font-weight: 900;
	color: rgb(216, 99, 79);
}

#total button {
	font-size: 16px;
	border: solid 1px var(--main-color);
	padding: 10px 30px;
	border-radius: 5px;
}

#RightNow {
	background-color: var(--main-color);
	color: #fff;
}

#check-btn {
	background-color: rgba(255, 255, 255, 0);
	color: var(--main-color);
}

#RightNow:hover {
	background-color: var(--hover-color);
	border: solid 1px var(--hover-color);
}

#check-btn:hover {
	background-color: var(--main-color);
	color: #fff;
}

/* 確認加入購物車 */
#buy-alert {
	height: 60px;
	width: 250px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 20px;
	position: fixed;
	right: -300px;
	top: 60px;
	z-index: 999999;
	background-color: rgba(36, 36, 36, 0.9);
}

#buy-alert img {
	height: 25px;
}

#buy-alert p {
	display: inline-block;
	line-height: 60px;
	padding: 0 10px;
	font-size: 15px;
	color: #fff;
}

#buy-alert-btn {
	display: inline-block;
	background-color: var(--main-color);
	color: #fff;
	padding: 8px 20px;
	border-radius: 3px;
	border: 0;
}

#buy-alert-btn:hover {
	background-color: var(--hover-color);
}

/* 區塊 */
.box{
	margin-bottom: 80px;
}

/* 背景圖 */
.bg{
	background-size: cover;
	background-position: center center;
}

.bg img{
	display: none;
}

/* 標題樣式 */
.box h1 {
	font-size: 22px;
	margin-bottom: 55px;
	text-align: center;
}

.box h1::before {
	content: "";
	width: 30px;
	height: 3px;
	background-color: var(--main-color);
	position: absolute;
	margin: 40px 15px 0;
}

/* 滑入效果 */
.hover-color {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	width: 100%;
	height: 0;
}

.link-box{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

/* 輪播圖 */
.home-slider .swiper-wrapper {
	width: 100%;
	height: 100%;
}

.home-slider .swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.hs-pic{
	width: 100%;
	padding-bottom: 20%;
}

.home-slider .swiper-pagination-bullet {
	background: #fff;
}

/* 商品分類 */
#prod-clas{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 20px;
}

.clas-pic{
	width: 100%;
	height: 0;
	padding-bottom: 65%;
	background-size: cover;
	background-position: 50% 50%;
	background-color: var(--main-color);
}

#clas-bdcake{
	background-image: url(../img/bdcake.jpeg);
}

#clas-bread{
	background-image: url(../img/bread.jpeg);
}

#clas-snake{
	background-image: url(../img/snake.jpeg);
	grid-column: 3/4;
	grid-row: 1/2;
}

.clas-pic .hover-color {
	padding-bottom: 65%;
	transition: 1s;
}

.clas-pic h2{
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clas-pic:hover .hover-color{
	opacity: 1;
	transition: 1s;
}

/* 精選商品 */
.pic{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

#product-pic1 {
	background-image: url(../img/sele-prod1.jpeg);
}

#product-pic2 {
	background-image: url(../img/sele-prod2.jpeg);
}

#product-pic3 {
	background-image: url(../img/sele-prod3.jpeg);
}

#product-pic4 {
	background-image: url(../img/sele-prod4.jpeg);
}

.product-text {
	padding: 0 10px;
}

.card-title {
	font-size: 16px;
	height: 18px;
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-align: center;
	margin-bottom: 8px !important;
}

.rwd-icon {
	display: inline-block;
}

.price h5 {
	font-size: 18px;
}

.card-price {
	font-family: "Arial Rounded MT Bold";
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.rwd-icon {
	float: right;
	display: none;
	position: relative;
}

.rwd-icon .rwd-cart {
	height: 18px;
	margin: 0 35px;
	cursor: pointer;
}

.rwd-save-btn {
	display: inline-block;
	font-size: 18px;
}

.rwd-save-btn .far {
	color: var(--main-color);
	position: absolute;
	right: 5px;
	top: 5px;
}
.rwd-save-btn .fas {
	color: var(--main-color);
	position: absolute;
	right: 5px;
	top: 5px;
	opacity: 0;
}

.title-color {
	background: linear-gradient(rgba(255, 255, 255, 0), rgb(2, 2, 2, 0.8));
	width: 100%;
	padding:0 25px;
}

.title-color .card-title {
	color: #fff;
	padding-top: 10px;
	height: 30px;
	width: 100%;
	overflow: hidden;
	/* 彈性伸縮盒子 */
	display: -webkit-box;
	/* 設置伸縮盒對象子元素的排列方式 */
	-webkit-box-orient: vertical;
	/* 超過幾行用...省略 */
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
}

.title-color .card-price {
	color: #fff;
}

.title-color h5 {
	margin-bottom: 8px;
}



/* 收藏 */
.save-btn {
	float: right;
	cursor: pointer;
	font-size: 20px;
	z-index: 9000;
}

.save-btn .far {
	position: absolute;
	right: 13px;
	top: 13px;
	color: #fff;
}

.save-btn .fas {
	position: absolute;
	right: 13px;
	top: 13px;
	color: #ff8974;
	opacity: 0;
}

/* 加入購物車按鍵 */
.buy-btn {
	height: 40px;
	width: 100%;
	background-color: var(--main-color);
	color: #fff;
	display: inline-block;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0;
}

.pic {
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.pic .hover-color{
	padding-bottom: 100%;
}

.buy-btn {
	transition: all 0.3s ease-in-out;
}

.pic:hover .hover-color {
	opacity: 1;
	transition: 0.5s;
}

.pic:hover .buy-btn {
	transform: translateY(-40px);
}

.buy-btn:hover {
	background-color: var(--second-color);
	color: #fff;
	transition: 0.3s;
}


/* 關於我們 */
.about-text{
	width: 80%;
	margin: 20px auto;
	height: 75px;
	overflow: hidden;
	display: -webkit-box;
	/* 設置伸縮盒對象子元素的排列方式 */
	-webkit-box-orient: vertical;
	/* 超過幾行用...省略 */
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	line-height: 1.6;
}

.about-text p {
	font-size: 16px;
	padding: 0 30px;
	letter-spacing: 1px;
	text-indent: 2em;
}

.lookmore-box{
	text-align: center;
}

.lookmore {
	font-size: 14px;
	padding: 10px 50px;
	border-radius: 30px;
	background-color: #fff;
	border: 1.5px solid var(--main-color);
	color: var(--main-color);
	cursor: pointer;
	margin: 20px 0;
	transition: 0.3s;
}

.lookmore:hover {
	color: #fff;
	background-color: var(--main-color);
}

.about-pic{
	margin-top: 50px;
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(../img/story.jpeg);
}


/* 最新消息 */
.new-pic {
	width: 100%;
	height: 0;
	padding-bottom: 28%;
	background-position: 50% 50%;
	background-size: cover;
}

#new-pic1 {
	background-image: url(../img/bdcake.jpeg);
}

#new-pic2 {
	background-image: url(../img/bread.jpeg);
}

.new-text{
	padding-left: 20px;
}

.new-text h2 {
	padding: 20px 0;
	font-size: 24px;
	font-weight: 700;
	color: var(--main-color);
}

.new-text p{
	margin: 10px 0;
}



#theme8 button {
	margin: 20px;
}

#theme8 button:hover {
	transition: 0.5s;
}

/* theme9 */
.theme-box9 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}

.hidden-box {
	height: 340px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.theme-pic9 {
	height: 340px;
	background-size: cover;
	cursor: pointer;
	transition: 1s;
}

#theme9 #theme-pic9-1 {
	background-image: url(../img/theme1.jpg);
	background-position: 50% 50%;
}

#theme9 #theme-pic9-2 {
	background-image: url(../img/theme2.png);
	background-position: 50% 50%;
}

#theme9 .text-color {
	height: 0;
	padding-bottom: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

#theme9 h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: #fff;
}

.theme-pic9:hover {
	transform: scale(1.1);
	transition: 1s;
}

/* theme10 */
.theme-box10 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}

.hidden-box {
	height: 340px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.theme-pic10 {
	height: 340px;
	background-size: cover;
	cursor: pointer;
	transition: 1s;
}

#theme10 #theme-pic10-1 {
	background-image: url(../img/theme1.jpg);
	background-position: 50% 50%;
}

#theme10 #theme-pic10-2 {
	background-image: url(../img/theme2.png);
	background-position: 50% 50%;
}

#theme10 #theme-pic10-3 {
	background-image: url(../img/theme3.jpg);
	background-position: 50% 50%;
}

#theme10 .text-color {
	height: 0;
	padding-bottom: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

#theme10 h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: #fff;
}

.theme-pic10:hover {
	transform: scale(1.1);
	transition: 1s;
}

/* footer */
.footer-box {
	background-color: #fff;
	padding: 30px 0;
	border-top: solid 1px rgb(200, 200, 200);
	margin-top: 40px;
}

.footer-main-title {
	font-size: 18px;
	color: var(--main-color);
	margin-bottom: 15px;
}

.footer-second-title div {
	margin: 6px 0;
}

footer a {
	text-decoration: none;
	color: rgb(82, 82, 82);
	font-size: 15px;
}

footer a:hover {
	text-decoration: none;
	color: var(--hover-color);
}

#contact {
	max-width: 300px;
	/* margin: 0 auto; */
}

#contact h5 {
	text-align: left;
}

footer p {
	color: rgb(82, 82, 82);
	font-size: 15px;
	margin: 8px 0;
	text-align: left;
}

#CopyRight {
	margin: 10px 0 0;
	text-align: center;
	font-size: 14px;
}

/* 隱藏or顯示 */
/* #product1 { display: none; } */

/* #product2 { display: none; } */

/* #product3 { display: none; } */

/* #theme1 { display: none; } */

/* #theme2 { display: none; } */

/* #theme3 { display: none; } */

/* #theme4 { display: none; } */

/* #theme5 { display: none; } */

/* #theme6 { display: none; } */

/* #theme7 { display: none; } */

/* #theme8 { display: none; } */

/* #theme9 { display: none; } */

/* #theme10 { display: none; } */

@media screen and (max-width: 576px) {
	.lookmore {
		padding: 10px 20px;
	}

	/* 購物車 */
	#check-list {
		box-shadow: none;
	}

	.check-product {
		height: 100px;
		margin: 0 0 0 30px;
		display: grid;
		grid-template-columns: 25% 32% 17% 17%;
		grid-gap: 3%;
		align-items: center;
	}

	#total button {
		font-size: 14px;
		padding: 10px 15px;
	}

	/* 輪播圖 */
	.carousel-pic {
		height: 50vh;
	}

	/* 商品滑入效果 */
	.pic:hover .hover-color {
		opacity: 0;
	}

	.pic:hover .buy-btn {
		transform: translateY(0);
	}

	/* product2 */
	.product-pic2,
	.product-pic2-box,
	.product-pic3,
	.product-pic3-box {
		height: 320px !important;
	}

	/* theme1 */
	#theme1 h2 {
		text-align: center;
	}

	#theme1 p {
		text-align: center;
	}

	#theme1 .lookmore {
		padding: 10px 30px;
	}
}

@media screen and (max-width: 768px) {
	/* 導覽列 */
	.drop-down-menu {
		display: none;
	}

	#header-pic img {
		margin: 0 15px;
	}

	#login {
		display: none;
	}

	#menu {
		display: inline-block;
	}

	/* 購物車 */
	#check-list {
		width: 100%;
		right: -100%;
		box-shadow: none;
	}

	.check-product {
		margin-left: 15px;
		grid-gap: 1%;
	}

	.check-product img {
		height: 70px;
	}

	/* 圖片縮放 */
	.pic,
	.product-pic2,
	/* .product-pic2-box, */
	.product-pic3,
	.product-pic3-box,
	.theme-pic3,
	.theme-pic9,
	.hidden-box,
	.theme-pic10 {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
	}

	/* 商品列 */
	.rwd-icon {
		display: inline-block;
	}

	/* 商品滑入效果 */
	.pic:hover .hover-color {
		opacity: 0;
	}

	.pic:hover .buy-btn {
		transform: translateY(0);
	}

	/* product2 */
	.product2-box {
		grid-template-columns: repeat(1, 1fr);
	}

	#product-pic2-2 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#product-pic2-3 {
		grid-column: 1/2;
		grid-row: 4/5;
	}

	#product-pic2-4 {
		grid-column: 1/2;
		grid-row: 5/6;
	}

	#product-pic2-5 {
		grid-column: 1/2;
		grid-row: 6/7;
	}

	/* product3 */
	.product3-box,
	#product3-innerbox1,
	#product3-innerbox2 {
		grid-template-columns: repeat(1, 1fr);
	}

	#product-pic3-3 {
		margin-bottom: 20px;
	}

	/* theme1 */
	#theme1 button {
		margin: 0 30px;
	}

	.theme-box3,
	#theme6,
	#theme7,
	.theme-box9,
	.theme-box10 {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	/* theme3 */
	#theme3 .hover-color {
		opacity: 1;
	}

	/* footer */
	#contact {
		margin-top: 30px;
	}
}

/* 平板 */
@media screen and (min-width: 769px) {
	/* 導覽列 */
	.drop-down-menu {
		display: none;
	}

	#header-pic img {
		margin: 0 15px;
	}

	#menu {
		display: inline-block;
	}

	/* 購物車 */
	#check-list {
		width: 500px;
	}

	.check-product {
		margin-left: 30px;
		grid-gap: 3%;
	}

	.check-product img {
		width: 100%;
		height: auto;
	}

	/* 圖片縮放 */
	.pic,
	.product-pic2,
	/* .product-pic2-box, */
	.theme-pic3,
	.theme-pic9,
	.hidden-box,
	.theme-pic10 {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
	}

	.rwd-icon {
		display: inline-block;
	}

	/* 商品滑入效果 */
	.pic:hover .hover-color {
		opacity: 0;
	}

	.pic:hover .buy-btn {
		transform: translateY(0);
	}

	/* product2 */
	.product2-box {
		grid-template-columns: repeat(2, 1fr);
	}

	#product-pic2-1 {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	#product-pic2-2 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#product-pic2-3 {
		grid-column: 2/3;
		grid-row: 3/4;
	}

	#product-pic2-4 {
		grid-column: 1/2;
		grid-row: 4/5;
	}

	#product-pic2-5 {
		grid-column: 2/3;
		grid-row: 4/5;
	}

	/* product3 */
	.product3-box {
		grid-template-columns: repeat(1, 1fr);
	}

	/* theme1 */
	#theme1 button {
		margin: 0 30px;
	}

	/* theme3 */
	.theme-box3 {
		grid-template-columns: repeat(3, 1fr);
	}
	#theme3 .hover-color {
		opacity: 1;
	}

	/* theme6 */
	#theme6 {
		grid-template-columns: repeat(2, 1fr);
	}

	/* theme7 */
	#theme7 {
		grid-template-columns: repeat(3, 1fr);
	}

	/* theme9 */
	.theme-box9 {
		grid-template-columns: repeat(2, 1fr);
	}

	/* theme10 */
	.theme-box10 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	/* 導覽列 */
	#menu {
		display: none;
	}

	.drop-down-menu {
		display: inline-block;
	}

	#header-pic img {
		margin: 0 20px;
	}

	.rwd-icon {
		display: none;
	}

	/* 購物車 */
	#check-list {
		width: 500px;
	}

	.check-product {
		margin-left: 30px;
		grid-gap: 3%;
	}

	.check-product img {
		width: 100%;
		height: auto;
	}

	/* 商品滑入效果 */
	.pic:hover .hover-color {
		opacity: 1;
	}

	.pic:hover .buy-btn {
		transform: translateY(-40px);
	}

	/* product2 */
	.product2-box {
		grid-template-columns: 50% 25% 25%;
	}

	#product-pic2-1 {
		grid-column: 1/2;
		grid-row: 1/3;
	}

	#product-pic2-2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	#product-pic2-3 {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	#product-pic2-4 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	#product-pic2-5 {
		grid-column: 3/4;
		grid-row: 2/3;
	}

	/* product3 */
	.product3-box {
		grid-template-columns: 40% 59%;
	}

	#product3-innerbox1 {
		display: grid;
		grid-template-columns: 40% 58%;
		grid-gap: 2%;
		margin-bottom: 15px;
	}

	#product3-innerbox2 {
		display: grid;
		grid-template-columns: 58% 40%;
		grid-gap: 2%;
	}

	/* theme3 */
	.theme-box3 {
		grid-template-columns: repeat(3, 1fr);
	}

	#theme3 .hover-color {
		opacity: 0;
	}

	.theme-pic3:hover .hover-color {
		opacity: 1 !important;
		transition: 0.5s;
	}

	/* theme6 */
	#theme6 {
		grid-template-columns: repeat(2, 1fr);
	}

	/* theme7 */
	#theme7 {
		grid-template-columns: repeat(3, 1fr);
	}

	/* theme9 */
	.theme-box9 {
		grid-template-columns: repeat(2, 1fr);
	}

	/* theme10 */
	.theme-box10 {
		grid-template-columns: repeat(3, 1fr);
	}
}